use flake

export UV_PROJECT_ENVIRONMENT=$PWD/.venv

if [ -f "pyproject.toml" ]; then
    echo "Syncing project dependencies via uv..."
    uv sync --python="$(command -v python3)"

elif [ ! -d ".venv" ]; then
    echo "No pyproject.toml found. Creating empty .venv..."
    uv venv --python="$(command -v python3)"

fi

source .venv/bin/activate
